:root {
    --background-color: #f2f7ff;
    --primary-btn-color: #007bff;
    --hover-btn-color: #0056b3;
    --border-color: #ccd9ff;
    --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--background-color);
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 80%;
    height: 80%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    border: 1px solid var(--card-border-color);
    background-color: #d9e8ff;
}

.project-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.project-details {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-details::-webkit-scrollbar {
    display: none;
}

.project-details .title {
    font-size: 36px;
    text-transform: capitalize;
}

.project-details .start-date-p,
.project-details .status-p,
.project-details .end-date-p {
    text-transform: capitalize;
}

.project-details span {
    font-weight: bold;
}

.project-details .active {
    color: blue;
}

.project-details .completed {
    color: red;
}

.project-details button {
    min-width: 50%;
    padding: 10px;
    border: none;
    color: #ffffff;
    background-color: var(--primary-btn-color);
    border-radius: 20px;
    text-transform: capitalize;
}

.project-details button:hover {
    background-color: var(--hover-btn-color);
}



